body {
  overflow: hidden;
  padding: 8.9em 0 0 0;
  font-size: 90%;
}
div#content {
	width: 90%;
	height: 100%;
	overflow: auto;
	margin: 0 0 0 13em;
	padding: 2em 8em 0 0;
}
div#menu {
	top: 0;
	left: 0;
	overflow: auto;
	height: 100%;
	margin: 0;
	padding: 7.7em 0 0 0;
}
ul#navlist {
	width: 100%;
}
 